<div class="container">
   <div class="row">
   <div class="col-6">
      <img width=90% src="/assets/welcome-20d12c75022d99f728e82304d292650ec44993e9895eefa9ccd29a5d9353c4d0.gif">
   </div>
      <div class="col-6" style="text-align:center">
         <h3 class="log">Welcome Back</h3>
         <div class="fb-login-button" scope="public_profile" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div> 
         <img class="loginbutton" src="/assets/loginbutton-b26cbdc52c437bc07fa3fc379efdf9e240e90604f6e4d2ffd801f8ca9c4d17af.png" width="50%">
      </div>
   </div>
</div>


