<div class="row">
  <% @requests.each_with_index do |request, index| %>
    <div class="col-3" align="center">
       <div class="title"><%= request.title %></div>
       <div><%= request.desc %></div>
       <%= link_to 'Destroy', request, :method => :delete, class: 'btn btn-danger btn-sm' %>
       <%= link_to "Edit","/requests/#{request.id}/edit", :method => :get, class: "btn btn-warning btn-sm" %>
    </div>
  <% end %>
</div>
