<h3 class="white">All Requests</h3>
<div class="sellbutton">
   <a href="/requests/new"><button class="btn btn-outline-light my-2 my-sm-0">Make A Request</button></a>
</div>
<div class="row">
  <% @requests.each_with_index do |request, index| %>
    <div class="col-3" align="center">
       <div class="item-title"><a class="title" href="/requests/<%= request.id %>"><%= request.title %></a></div>
       <div><%= request.desc %></div>
    </div>
  <% end %>
</div>

