<h3 class="white">All Treasures</h3>
<div class="sellbutton">
   <a href="/items/new"><button class="btn btn-outline-light my-2 my-sm-0">Sell My Treasure</button></a>
</div>
<div class="row index">
  <% @items.each_with_index do |item,index| %>
    <div class="col-4" align="center">
       <img class="item-img" src="<%= item.image %>" width="100%">
       <div class="item-title"><a class="title" href="/items/<%= item.id %>"><%= item.title %></a></div>
       <div class="item-price"> <%= item.price %></div>
    </div>
  <% end %>
</div>
