<div class="row book" >
   <div class="col-6 info">
      <h2 class="title"><%= @item.title %></h2>
      <h5 class="author"><%= @item.desc %></h5>
      <h5><%= @item.price %></h5>
   </div>
   <div class="col-6" >
      <img src="<%= @url %>" style="width:80%;">
   </div>
</div>