// style for nav bar
#searchplace
{
   border-bottom: 0;
   background: white;
   margin-bottom: 0;
   padding: 4%;
}

.option
{
   margin: 0 2%;
}

#navbarDropdown
{
   color:white;
}

// style for book
.sellbutton
{
   text-align: center;
   padding: 1%;
}

.title
{
   color: darkcyan;
}

.author
{
   color: darkgrey;
}

.info .sellbook
{
   text-align: center;
}

.book
{
   margin-top: 10%;
}

.index
{
   padding: 2% 10%;
}

// style for log in page
.loginbutton
{
   cursor:pointer;
}

.log
{
   color:white;
   margin-top:10%;
   padding: 20%;
}

.white
{
   color:white;
   text-align:center;
   font-family: 'Open Sans', sans-serif;
   padding: 2%;
}

// style for dashboard page

.dashboardt
{
   text-align:center;
   color: darkorange;
}

.dashboard
{
   margin-top: 5%;
}